@font-face {
    font-family: myFirstFont;
    src: url(../resources/DenkOne-Regular.ttf);
}

body{
    overflow: hidden;
    font-family: myFirstFont;
}

nav div{
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Blog{
    top: -15px;
    font-size: 40px;
    border-radius: 100px;
    width: 300px;
    color: white;
    background-color: black;
    position: relative;
    margin-right: 250px;
}

.Portfolio{
    top: -15px;
    font-size: 40px;
    border-radius: 100px;
    width: 300px;
    color: white;
    background-color: black;
    position: relative;
    margin-right: 50px;
}

.About{
    top: -15px;
    font-size: 40px;
    border-radius: 100px;
    width: 450px;
    color: black;
    background-color: white;
    margin-right: 50px;
    position: relative;
}

nav div div p{
    text-align: center;
    margin: auto;
    width: 150px;
}

.About p{
    text-align: center;
    margin: auto;
    width: 450px;
}

.blackRectangle{
    z-index: -1;
    position: relative;
    left: 700px;
    width: 1700px;
    height: 1000px;
    background-color: black;
    transform: rotate(114deg);
}

.whiteRectangle{
    z-index: 0;
    position: absolute;
    top: 0;
    left: -330px;
    width: 1800px;
    height: 1000px;
    background-color: white;
    transform: rotate(114deg);
}

.background img{
    z-index: -1;
    position: absolute;
    top: -120px;
    left: 1080px;
    width: 650px;
    height: 1200px;
}

article{
    font-size: 40px;
    text-align: center;
    display: flex;
    flex-direction: column;
    z-index: 1;
    position: absolute;
    top: 250px;
    left: 250px;
}

article a span{
    position: relative;
    top: 150px;
    font-size: 50px;
    color: white;
    padding: 50px;
    border-radius: 200px;
    margin-top: 100px;
    margin-left: 40px;
    background-color: #E73541;
    width: 500px;
}

article a{
    text-decoration: none;
}
